pandas == 2.0.3
nltk == 3.8
textblob == 0.18.0
scikit-learn
pygal
matplotlib
spacy
thinc==8.0.8
https://github.com/explosion/spacy-models/releases/download/en_core_web_sm-3.4.0/en_core_web_sm-3.4.0.tar.gz
